@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
}

:root {
  --bg_color: rgba(18, 23, 29, 1);
  --bg_color_alt: rgba(33, 38, 44, 1);
  --green: rgba(37, 194, 110, 1);
}

body {
  width: 100%;
  height: 100%;
  background: var(--bg_color);
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* ===========================NAV SECTION STARTS */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg_color_alt);
  z-index: 2;
}

.overlay {
  display: none;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

nav .container .logo img {
  width: 100px;
}

nav .container .wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav .container .wrapper .navigators_container {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav .container .wrapper .menu_btn {
  display: none;
}

nav .container .wrapper .navigators_container .search_bar input {
  border: 1px solid grey;
  background: transparent;
  border-radius: 5px;
  background: var(--bg_color);
  padding: 12px 10px;
  outline: none;
  width: 350px;
}

nav .container .wrapper .navigators_container .links {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav .container .wrapper .navigators_container .links a {
  text-transform: capitalize;
  font-size: 14px;
  color: white;
}

nav .container .wrapper .profile_section {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}

nav .container .wrapper .profile_section .github_url i {
  font-size: 25px;
}

nav .container .wrapper .profile_section .profile_container {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--bg_color);
  border-radius: 5px;
  padding: 5px 10px;
}

nav .container .wrapper .profile_section .profile_container img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

nav .container .wrapper .profile_section .profile_container .txt {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav .container .wrapper .profile_section .profile_container .txt p {
  font-size: 13px;
  text-transform: capitalize;
}

/* ===========================NAV SECTION ENDS */

/* ===========================MAIN SECTION STARTS */
.main_wrapper {
  margin-top: 100px;
  display: flex;
  gap: 5px;
}

.main_wrapper .chart_section {
  flex: 1;
}

/* ================order book section */
.main_wrapper .order_book_section {
  width: 280px;
  background: var(--bg_color_alt);
  border-radius: 5px;
  overflow: hidden;
  padding: 15px;
}

.main_wrapper .order_book_section .nav {
  display: flex;
  background: var(--bg_color);
  border-radius: 10px;
  padding: 2px;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.main_wrapper .order_book_section .nav p {
  font-size: 13px;
  text-transform: capitalize;
  width: 50%;
  cursor: pointer;
  transition: 0.4s ease;
  padding: 10px 15px;
}

.main_wrapper .order_book_section .nav p.active,
.main_wrapper .order_book_section .nav p:hover {
  background: var(--bg_color_alt);
  border-radius: 10px;
}

/* ============== Filter section */
.main_wrapper .order_book_section .filter_section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_wrapper .order_book_section .filter_section .menu_section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main_wrapper .order_book_section .filter_section .menu_section .menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.main_wrapper .order_book_section .filter_section .menu_section .menu.active,
.main_wrapper .order_book_section .filter_section .menu_section .menu:hover {
  background: rgba(53, 57, 69, 1);
}

.main_wrapper .order_book_section .filter_section .menu_section .menu .bar {
  width: 20px;
  height: 2px;
  border-radius: 10px;
  background: white;
}

.main_wrapper .order_book_section .filter_section .menu_section .menu .bar.red {
  background: rgb(206, 16, 16);
}
.main_wrapper
  .order_book_section
  .filter_section
  .menu_section
  .menu
  .bar.green {
  background: var(--green);
}

.main_wrapper .order_book_section .filter_section .select_section {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgba(53, 57, 69, 1);
  font-size: 13px;
  cursor: pointer;
}

/* ================Order section */
.main_wrapper .order_book_section .order_section {
  margin-top: 20px;
}

.main_wrapper .order_book_section .order_section .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.main_wrapper .order_book_section .order_section .header h4 {
  font-weight: 400;
  font-size: 13px;
  text-transform: capitalize;
  max-width: 60px;
  width: 100%;
}

.main_wrapper .order_book_section .order_section .wrapper {
  margin-top: 15px;
}

.main_wrapper .order_book_section .order_section .wrapper .box {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  padding-bottom: 15px;
}

.main_wrapper .order_book_section .order_section .wrapper p {
  font-size: 13px;
  max-width: 60px;
  width: 100%;
}

.main_wrapper .order_book_section .order_section .price_range {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.main_wrapper .order_book_section .order_section .price_range h3 {
  font-size: 20px;
  font-weight: 400;
}

.main_wrapper .order_book_section .order_section .price_range h3:first-child,
.main_wrapper .order_book_section .order_section .price_range i {
  color: var(--green);
}

/* ================Buy & sell section */
.main_wrapper .buy_sell_section {
  background: var(--bg_color_alt);
  width: 280px;
  border-radius: 5px;
  padding: 15px;
  height: fit-content;
}

.main_wrapper .buy_sell_section .nav {
  background: var(--bg_color);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 2px;
  gap: 2px;
}

.main_wrapper .buy_sell_section .nav p {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 13px;
  transition: 0.4s ease;
  cursor: pointer;
}

.main_wrapper .buy_sell_section .nav p.active,
.main_wrapper .buy_sell_section .nav p:hover {
  background: var(--bg_color_alt);
}

.main_wrapper .buy_sell_section .sub_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.main_wrapper .buy_sell_section .sub_nav p {
  text-transform: capitalize;
  font-size: 13px;
  padding: 10px 15px;
  border-radius: 15px;
}

.main_wrapper .buy_sell_section .sub_nav p.active {
  background: rgba(53, 57, 69, 1);
}

.main_wrapper .buy_sell_section .input_wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main_wrapper .buy_sell_section .input_box {
  border: 1px solid rgb(81, 81, 81);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.main_wrapper .buy_sell_section .input_box input {
  background: transparent;
  outline: none;
  border: none;
  padding: 15px 0;
}

.main_wrapper .buy_sell_section .input_box input::-webkit-inner-spin-button,
.main_wrapper .buy_sell_section .input_box input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.main_wrapper .buy_sell_section .input_box input::placeholder {
  color: rgb(179, 175, 175);
}

.main_wrapper .buy_sell_section .input_box p {
  text-transform: uppercase;
  font-size: 12px;
}

.main_wrapper .buy_sell_section .check_input {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.main_wrapper .buy_sell_section .check_input input {
  accent-color: #2764ff;
  cursor: pointer;
}

.main_wrapper .buy_sell_section .check_input p {
  text-transform: capitalize;
  font-size: 13px;
}

.main_wrapper .buy_sell_section .total {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.main_wrapper .buy_sell_section .total p {
  text-transform: capitalize;
  font-size: 13px;
}

.main_wrapper .buy_sell_section button {
  padding: 15px;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  background: linear-gradient(to right, #2764ff, #dd568d);
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
}

.main_wrapper .buy_sell_section button:hover {
  opacity: 0.8;
}
/* ===========================MAIN SECTION ENDS */

/* ==========================FOOTER SECTION STARTS*/

footer {
  background: var(--bg_color_alt);
  margin-top: 10px;
  padding: 20px 0;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}
footer .container .socails {
  display: flex;
  align-items: center;
  gap: 40px;
}

footer .container .socails i {
  font-size: 25px;
  transition: 0.4s ease;
  color: grey;
  cursor: pointer;
}

footer .container .socails i:hover {
  color: white;
}

footer .container a,
footer .container a span {
  text-transform: capitalize;
  font-size: 14px;
  color: grey;
}

footer h3 {
  width: 100%;
  border-top: 1px solid rgb(86, 86, 86);
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: grey;
}
/* ==========================FOOTER SECTION ENDS*/

/* ============================LOGIN PAGE  STARTS*/

.login_page {
  height: 100vh;
}

.login_page nav {
  position: relative;
  background: transparent;
  padding: 20px 0;
}

.login_page nav img {
  width: 100px;
}

.login_page .wrapper {
  width: 500px;
  margin: 0 auto;
}

.login_page .wrapper .form {
  margin-top: 150px;
  background: var(--bg_color_alt);
  padding: 30px;
  border-radius: 5px;
}

.login_page .wrapper .form h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.login_page .wrapper .form .err_msg {
  color: rgb(230, 35, 35);
  font-size: 14px;
}

.login_page .wrapper .form .input_con {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 5px;
}

.login_page .wrapper .form .input_con label {
  font-size: 15px;
}

.login_page .wrapper .form .input_con input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: transparent;
  border: 1px solid rgb(61, 61, 61);
}

.login_page .wrapper .form button {
  padding: 14px 0;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, #2764ff, #dd568d);
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  border: none;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s ease;
}

.login_page .wrapper .form button:hover {
  opacity: 0.8;
}

/* ============================LOGIN PAGE  ENDS*/

/* ===================================Media queries */

@media (max-width: 1150px) {
  nav .container .wrapper .navigators_container {
    position: fixed;
    top: 0;
    right: -110%;
    transition: 0.4s ease;
    flex-direction: column;
    gap: 20px;
    background: var(--bg_color_alt);
    align-items: unset;
    padding-top: 20px;
    border-left: 1px solid rgb(73, 72, 72);
    overflow: hidden;
    height: 100vh;
  }

  nav .container .wrapper .navigators_container.active {
    right: 0;
  }

  .overlay {
    display: block;
    position: fixed;
    background: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 0.4s ease;
  }

  .overlay.active {
    opacity: 0.4;
    pointer-events: all;
    visibility: visible;
  }

  nav .container .wrapper .navigators_container .close {
    padding-left: 20px;
  }

  nav .container .wrapper .navigators_container .search_bar {
    margin: 0 20px;
  }

  nav .container .wrapper .navigators_container .links {
    flex-direction: column;
    gap: 0;
    justify-content: unset;
    align-items: unset;
  }

  nav .container .wrapper .navigators_container .links a {
    text-align: left;
    padding: 15px 20px;
  }

  nav .container .wrapper .navigators_container .links a:hover {
    background: var(--bg_color);
  }

  nav .container .wrapper .menu_btn {
    font-size: 25px;
    cursor: pointer;
    display: block;
  }

  nav .container .wrapper .profile_section .github_url i {
    font-size: 30px;
  }

  nav .container .wrapper .profile_section .profile_container .txt {
    display: none;
  }

  nav .container .wrapper .profile_section .profile_container {
    background: transparent;
    padding: 0;
  }
}
